.main__header{
    width: 100vw;
    height: calc(100vh - 5rem);
    display: grid;
    place-items: center;
    margin-top: 5rem;
    background: var(--grey-color);
}
.main__header-container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 10rem;
}
.main__header-left{
    margin-left: 3rem;
}
.main__header-left h2{
    font-family: var(--font-family-sec);
    color: var(--green-color);
    margin-bottom: 1rem;
}
.main__header-left .main__header-btn{
    background: var(--yellow-color);
}
.main__header-right{
    display: grid;
    place-content: center;
    position: relative;
}
.main__header-circle{
    width: 30rem;
    height: 30rem;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    filter: blur(15px);
}
.main__header-img{
    position: relative;
}


/* =====================PROGRAM===================== */
.program{
    margin-top: 5rem;
    width: 100vw;
    height: calc(100vh / 2);
    display: grid;
    place-items: center;
}
.program__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    /* padding: 0 8rem; */
}
.program__container-item{
    width: fit-content;
    position: relative;
}
.program__container-item img{
    border-radius: 2rem;
}
.section__head-item, .section__head-item1{
    position: absolute;
    top: 30%;
    left: 10%;
    max-width: 13rem;
}
.section__head-item h3, .section__head-item h2{
    color: #fff;
}




/* =========================HOME ABOUT================= */
.home__about{
    margin-top: 5rem;
    width: 100vw;
    height: 100vh;
    background: var(--light-color);
    display: grid;
    place-items: center;
}
.home__about-container{
    display: grid;
    align-items: center;
    /* place-items: center; */
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
}
.home__about-right{
    display: grid;
    gap: 2rem;
}
.home__about-list{
    display: flex;
    gap: 0.8rem;
    max-width: 30rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.home__about-list .home__about-list-img{
    background: #fff;
    padding: 1.2rem;  
    border-radius: 1rem;
}
.home__about-btn{
    background: var(--main-color);
    color: #fff;
}

/* =============CATEGORIES============ */
.categories{
    margin: 5rem 0;
    width: 100vw;
    display: grid;
    
    place-items: center;
}
.categories__container{
    display: grid;
    place-items: center;
    justify-content: center;
    /* padding: 0 8rem; */
}
.categories__head{
    text-align: center;
    margin-bottom: 2rem;
}
.categories__container .categories__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.4rem;
}
.categories__btn{
    background: var(--main-color);
    color: #fff;
    margin-top: 3rem;
}




@media screen and (max-width: 1024px) {
    .main__header{
        height: fit-content;
        padding: 10rem 0;
    }
    .main__header-container{
        gap: 0
    }
    .main__header-circle{
        width: 24rem;
        height: 24rem;
    }
    .program{
        margin: 0;
    }
    .program__container{
        padding: 0;
    }
    .home__about{
        margin-top: 0;
    }
    .home__about-container{
        gap: 0;
    }
    .home__about-right{
        gap: 1rem;
    }
    .categories{
        height: fit-content;
        padding: 5rem 0;
    }
    .categories__container{
        padding: 0;
    }
    .categories__container .categories__wrapper{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
    }

}
@media screen and (max-width: 600px) {
    .main__header{
        margin-top: 0;
        padding: 12rem 0 0;
        height: 100vh;
    }
    .main__header-circle, .main__header-img{
        display: none;
    }
    .main__header-container{
        grid-template-columns: 1fr;
    }
    .program{
        margin-top: 0;
        padding: 8rem 0 0;
        height: calc(100vh * 0.8);
    }
    .program__container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .section__head-item, .section__head-item1{
        max-width: 12rem;
    }
    .home__about{
        margin-top: 0;
        padding: 3rem 0 1rem;
        height: fit-content;
    }
    .home__about-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .categories{
        margin: 0;
        padding: 8rem 0 1rem;
        height: fit-content;
    }
    .categories__container .categories__wrapper{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

}